.cat-chart{
    height:400px;
    width:650px;
    background-color: white;
    display: flex;
}

.variables{
    width:200px;
    background-color: antiquewhite;
    height:400px;
}

.variable{
    height:80px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

.bars{
    width:400px;
    height:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:0;
}

.bard{
    display:flex;
    height:40px;
    background-color: blueviolet;
    color:white;
    align-items: center;
    padding-left: 5px;
}

.account-data{
    display:flex;
    height:400px;
    background-color: white;
    width:400px;
    justify-content: space-around;
    padding:10px;
    flex-direction: column;
}

.attrib{
    color:black;
}