.map{
    width:800px;
    height:800px;
    position:relative;
}

.map-name{
    position: absolute;
    color:white;
    text-shadow: -3px -3px 0 blue, 3px -3px 0 blue, -3px 3px 0 blue, 3px 3px 0 blue;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-size: 40px;
    padding:5px;
}

.chart-name{
    color:white;
    font-weight: 700;
    font-size: 40px;
}

.key{
    position:absolute;
    top:5%;
    padding:5px;
    background-color:black;
    border:3px solid blue;
    transform: translate(0,-50%);
}

.expendits{

    color:red;
}

.income{
    
    color:green;
}