:root {
    --black: #131313;
    --pink: #ff8177;
    --pink2: #f77062;
    --white: #ffffff;
    --blue: #4837ff;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Kumbh Sans', sans-serif;
}

.body{
  background-color: rgb(247, 171, 196);
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
  background-color: rgb(247, 171, 196);
}


.navbar {
    background: var(--black);
    border-style: solid;
    border-width: 3px;
    border-color: var(--blue);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.fa-money-check {
  margin-right: 0.5em;
}

#navbar_title {
    background-color: var(--pink);
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--pink2);
    color: var(--white);
}

.button:hover {
    background: var(--blue);
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: var(--blue);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }

    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }

    .navbar_menu.active {
      background: var(--black);
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }

    #navbar_title {
      padding-left: 25px;
    }
  
    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: var(--white);
    }
    
    .navbar_item {
      width: 100%;
    }
  
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar_btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
}

.welcome{
  font-size: 50px;
  color:white;
}

.bottom{
  display: flex;
  gap:50px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 400;
}

.earnt, .spent, .net{
  background-color:white;
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
}

.earnt{
  color:green;
}

.spent{
  color:red;
}

.shmoney{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  text-align: center;
}

.horizontal{
  display: flex;
  justify-content: center;
  gap:50px;
}