:root {
    --black: #131313;
    --pink: #ff8177;
    --pink2: #f77062;
    --light-pink: #f58697;
    --white: #ffffff;
    --blue: #4837ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.container {
  background: var(--black);
  max-height: 90vh;
}

.sidebar{
    height: 88.3vh;
    background-color: var(--light-pink);
}

.sidebar_icons a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.sidebar_icons a:hover{
    color: var(--blue);
}

.sidebar_icons {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: var(--blue);
    height: 610px;
    background: var(--black);
    border-top: 50px, solid, red;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}

#second {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}
